<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homebase
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body class="flex flex-col bg-primary min-h-screen font-sans text-white">
        <div id="overlay"
             class="hidden top-0 left-0 z-40 fixed bg-black/50 w-full h-full"></div>
        <header class="z-50 w-full">
            <nav class="flex justify-between items-center mx-auto px-8 w-full max-w-[1500px]">
                <a href="{{ url_for("home.index") }}" class="font-bold text-2xl">
                    <img src="{{ url_for('static', filename='images/homebase-logo.png') }}"
                         alt="Homebase Logo"
                         class="w-auto h-8">
                </a>
                <div class="flex gap-8">
                    <a href="{{ url_for("standings.standings") }}"
                       class="py-4 border-primary border-t-2 border-t-transparent hover:border-t-transparent border-b-2 hover:border-b-white cursor-pointer {% if request.endpoint =='standings.standings' %}border-b-white{% endif %}">Standings</a>
                    <div class="relative">
                        <button id="team-dropdown-button"
                                type="button"
                                class="py-4 border-primary border-t-2 border-t-transparent hover:border-t-transparent border-b-2 hover:border-b-white cursor-pointer {% if request.endpoint == 'teams.team' %}border-b-white{% endif %}">
                            Teams
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="12"
                                 height="12"
                                 fill="currentColor"
                                 viewBox="0 0 256 256"
                                 class="inline-block ml-1">
                                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z">
                                </path>
                            </svg>
                        </button>
                        {% include "partials/teams_dropdown.html" %}
                    </div>
                    <a href="{{ url_for("leaderboard.leaderboards") }}"
                       class="py-4 border-primary border-t-2 border-t-transparent hover:border-t-transparent border-b-2 hover:border-b-white cursor-pointer {% if request.endpoint == 'leaderboard.leaderboards' %}border-b-white{% endif %}">Leaders</a>
                </div>
            </nav>
        </header>
        <main class="flex-1 w-full">
            {% block content %}
            {% endblock content %}
        </main>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
