{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block content %}
    <section class="space-y-4 mx-auto p-8 max-w-[1500px]">
        <h1 class="font-bold text-2xl">Standings</h1>
        <div class="flex flex-col gap-4 md:grid md:grid-rows-3 md:grid-flow-col">
            {% for division_standing in division_standings %}
                {% include "partials/division_table.html" %}
            {% endfor %}
        </div>
    </section>
    <section class="bg-primary-hover">
        <div class="space-y-4 mx-auto p-8 max-w-[1500px]">
            <h2 class="font-bold text-2xl">MLB News</h2>
            <div class="flex flex-col gap-4 sm:grid sm:grid-cols-2 md:grid-cols-4">
                {% for news_item in news[:4] %}
                    {% include "partials/news_item.html" %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="space-y-4 mx-auto p-8 max-w-[1500px]">
        <div class="flex justify-between items-center">
            <h2 class="font-bold text-2xl">League Leaders</h2>
            <a href="{{ url_for("leaderboard.leaderboards") }}"
               class="flex items-center gap-2 hover:bg-primary-hover p-2 rounded-md">View All
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     fill="currentColor"
                     viewBox="0 0 256 256">
                    <path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z">
                    </path>
                </svg>
            </a>
        </div>
        <div class="flex flex-col gap-4 sm:grid sm:grid-cols-2 lg:grid-cols-4">
            {% for leader in leaders[:4] %}
                {% include "partials/leader.html" %}
            {% endfor %}
        </div>
    </section>
{% endblock content %}
