{% extends "base.html" %}
{% block title %}
    | {{ team_info.team_full_name }}
{% endblock title %}
{% block content %}
    <section class="space-y-4 mx-auto p-8 max-w-[1500px]">
        <div class="flex items-center gap-4">
            <img src="https://www.mlbstatic.com/team-logos/{{ team_info.team_id }}.svg"
                 alt="{{ team_info.team_name }} logo"
                 class="block bg-white rounded-full w-16 h-16 object-contain">
            <div>
                <h1 class="font-bold text-2xl">{{ team_info.team_full_name }}</h1>
                <div class="flex items-center gap-2">
                    <p class="text-primary-light">
                        {{ team_info.division_rank }}{% set rank = team_info.division_rank | int %}
                        {% if 10 <= (rank % 100) <= 20 %}
                            th
                        {% elif rank % 10 == 1 %}
                            st
                        {% elif rank % 10 == 2 %}
                            nd
                        {% elif rank % 10 == 3 %}
                            rd
                        {% else %}
                            th
                        {% endif %}
                        in {{ team_info.division_name }}
                    </p>
                    <p>{{ team_info.wins }}-{{ team_info.losses }} ({{ team_info.pct }})</p>
                    <div class="bg-white px-2 py-1 rounded-md w-fit text-primary text-xs">{{ team_info.gb }} GB</div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 h-screen">
            <h2 class="font-bold text-2xl">
                Hitters
            </h1>
            {% include "partials/hitting_table.html" %}
            <h2 class="font-bold text-2xl">Pitchers</h2>
            {% include "partials/pitching_table.html" %}
        </div>
    </section>
    <section class="bg-primary-hover">
        <div class="space-y-4 mx-auto p-8 max-w-[1500px]">
            <h2 class="font-bold text-2xl">{{ team_info.team_full_name }} News</h2>
            <div class="flex flex-col gap-4 sm:grid sm:grid-cols-2 md:grid-cols-4">
                {% for news_item in team_news[:4] %}
                    {% include "partials/news_item.html" %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="space-y-4 mx-auto p-8 max-w-[1500px]">
        <div class="flex justify-between items-center">
            <h2 class="font-bold text-2xl">{{ team_info.team_full_name }} Leaders</h2>
        </div>
        <div class="flex flex-col gap-4 sm:grid sm:grid-cols-2 lg:grid-cols-4">
            {% for leader in leaders[:4] %}
                {% include "partials/leader.html" %}
            {% endfor %}
        </div>
    </section>
{% endblock content %}
